body {
  background-image: url('http://www.kinyu-z.net/data/wallpapers/236/1532149.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Changa One', cursive;
  color: white;
  font-size: 56px;
}

.teamLogo {
  width: 300px;
  height: 300px;
  margin: auto;
  display: block;
}

.teamSelect {
  width: 85%;
  margin: auto;
  text-align-last: center;
}

.container-fluid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.team1box {
  grid-column: span 5;
  margin-left: 100px;
}

.predictBox {
  grid-column: span 2;
}

.team2box {
  grid-column: span 5;
  margin-right: 100px;
}
